
.my-custom-class {
    --background: rgb(32, 207, 16);
    --spinner-color: #fff;
  
    color: #fff;
  }
.bg-class {
  
    --background: #aaa5a5 !important;
}

.logo {
    //  height: 15%;
    margin-top: 2%;
}

ion-slides,
ion-slide {
    width: 100%;
}
.card-center{
    width:90%; // adjust width on your ion-card suitable on your screen
    display:block;
    margin: 0 auto;
    color: rgb(0, 0, 0);
}
ion-card {
    height: 500px;
    width: 100%;
    box-shadow: none !important;
    margin-right: 0px;
    margin-left: 0px;
background-color:(#ffffff);
}
.item {
    --background: transparent;
    --ion-color-base: transparent !important;
}

.forgot {
    position: relative;
    z-index: 10;
    text-align: right;
}

ion-label {
    color: black;
    font-style: oblique;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

// .card {
//     background: transparent
// }
ion-text {
    color: black;
}

.cuerpoLogin {
    height: 100%;
    margin-top: 5%
}


ion-content.background{
    //--background: url(/assets/Images/fondologin4.jpg) 0 0/100% 100% no-repeat;
    --background: #374970;
}

@media screen and (min-width: 4000px) {
    ion-card {
        height: 30%;
        width: 30%;
        box-shadow: none !important;
        margin-right: 0px;
        margin-left: 0px;
    }
}